*.class
*.log

.bsp

*.bk.*
# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
docker/*

# Scala-IDE specific
.scala_dependencies
.worksheet
*.sc
.idea/
.idea_modules/
*.iml
.classpath
.project
.settings

.vagrant/
.DS_Store

.metals
.bloop
.bsp/

.ensime
.ensime_cache/
.floo
.flooignore
